In [ ]:
#SQL Assignment Questions
"""Q1. What is a database? Differentiate between SQL and NoSQL databases."""
Ans: A database is a structured collection of data stored in a computer system. It is organized in such 
a way that it can easily be accessed, managed, and updated. Databases are used to store and manage large amounts of data that 
would otherwise be difficult to keep track of. Examples of databases include customer records, financial records, inventory 
records, and sales records.

SQL databases are relational databases that use Structured Query Language (SQL) to store and retrieve data. They are organized 
into tables, rows, and columns, and they use Structured Query Language (SQL) to access the data. SQL databases are typically 
used for transactional applications that require ACID (Atomicity, Consistency, Isolation, and Durability) properties.

NoSQL databases are non-relational databases that use a variety of data models to store and retrieve data. They are typically 
used for applications that require scalability and flexibility, such as web applications, mobile applications, and big data 
analytics. NoSQL databases are often faster and more scalable than SQL databases, but they lack the ACID properties of SQL 
databases.

"""Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example."""
Ans: DDL stands for Data Definition Language. It is a language used to define the structure of a database, including creating, 
altering, and deleting tables and other objects. It is used to define the structure of a database, including creating, 
altering, and deleting tables and other objects.

CREATE: Creates a new table, view, or other database object. For example- CREATE TABLE customers (id INTEGER, name VARCHAR(50));

DROP: Deletes an existing table, view, or other database object. For example, DROP TABLE customers;

ALTER: Modifies an existing table, view, or other database object. For example, ALTER TABLE customers ADD COLUMN address VARCHAR(100);

TRUNCATE: Deletes all data from a table without deleting the table itself. For example, TRUNCATE TABLE customers;

"""Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example."""
Ans: DML stands for Data Manipulation Language. It is a language used to manipulate data in a database, such as inserting, 
updating, and deleting records. Examples of DML include SQL statements such as INSERT, UPDATE, and DELETE.

INSERT: INSERT is a SQL command used to add new records to a database table. For example, if you wanted to add a new customer 
record to a customer table, you would use the INSERT command like this:

Example- INSERT INTO customers (name, address, phone) VALUES ('John Doe', '123 Main Street', '1234567890');

UPDATE: UPDATE is a SQL command used to modify existing records in a database table. For example, if you wanted to update the 
address of an existing customer record, you would use the UPDATE command like this:

Example- UPDATE customers SET address = '456, Delhi' WHERE name = 'John Doe';

DELETE: DELETE is a SQL command used to delete existing records from a database table. For example, if you wanted to delete an 
existing customer record, you would use the DELETE command like this:

Example- DELETE FROM customers WHERE name = 'John Doe';

"""Q4. What is DQL? Explain SELECT with an example."""
Ans: DQL stands for Data Query Language. It is a language used to query data from a database. SELECT is the most commonly used
DQL command and it is used to retrieve data from a database. 

For example: if you wanted to select all the records from a table called "Customers" you would use the following SELECT statement:

SELECT * FROM Customers;

This statement would return all the records from the Customers table.

"""Q5. Explain Primary Key and Foreign Key."""
Ans: Primary Key: A primary key is a field in a table that uniquely identifies each row/record in a database table. It is used 
to uniquely  identify each row/record in a database table. A primary key column cannot contain null values and must contain unique values.

Foreign Key: A foreign key is a field in a table that is used to establish and maintain a link between two tables. It is used 
to reference the primary key of another table. A foreign key column can contain null values and does not need to contain unique values.

"""Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method."""
Ans:

#importing the mysql.connector module
import mysql.connector

#creating a connection to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

#creating a cursor object to execute queries
mycursor = mydb.cursor()

#The cursor() method is used to create a cursor object which will be used to execute SQL statements.

#The execute() method is used to execute an SQL query on the database. It takes an SQL query as a parameter and returns a result set.

#executing an SQL query
mycursor.execute("SELECT * FROM Tablename")

#fetching the results of the query
result = mycursor.fetchall()

#printing the results of the query
for i in result:
    print(i)
    
"""Q7. Give the order of execution of SQL clauses in an SQL query."""
Ans: The order in which the clauses in queries are executed is as follows:

1. FROM 
2. WHERE 
3. GROUP BY 
4. HAVING 
5. SELECT 
6. ORDER BY 
7. LIMIT